* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  background-image: linear-gradient(to right, #051422, #042727);
  overflow-x: hidden;
}

@media (max-width: 700px) {
  .card__text {
    padding: 0px;
    margin: 0 50px;
  }

  .video__card {
    width: 100px;
    padding: 0px;
  }
}
